@charset "utf-8";
/* CSS Document */

.mainframe {
	background-color: #000;
	width: 1000px;
	height: auto;
	margin: auto;
	color: #FFF;
	font-family: antic;
	font-style: normal;
	font-weight: 400;
}
.logo {
	background-color: #FF9;
	height: auto;
	width:350px;
	margin:auto;
}
.menu {
	background-color: #6FC;
	height: 50px;
	width:350px;
}
.content {
	background-color: #999;
	width: 350px;
	height:auto;
}
.footer {
	background-color: #F9C;
	width:350px;
	height:100px;
}