@charset "utf-8";
/* CSS Document */

.mainframe {
	background-color: #000;
	width: 1000px;
	height: auto;
	margin: auto;
	color: #FFF;
	font-family: antic;
	font-style: normal;
	font-weight: 400;
}
.logo {
	height: auto;
	width: 350px;
	margin: auto;
	float:left
}
.menu {
	width: 1000px;
	height:;
	background-color: #9EFCDB;
	float: left;
	height: 50px;
}
.content {
	background-color: #999;
	width: 650px;
	height: auto;
	float: left;
	margin-top: 10px;
	padding-left : 10px;
	padding-right:10px;
	border-radius: 10px;
}
.product {
	background-color: #4776F5;#4776F5;;
	height: 300px;
	width: 300px;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	border-radius: 10px;
}
.memberzone {
	background-color: ;
	width: 300px;
	border-radius: 10px;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
.footer {
	float: left;
	width: 1000px;
	height: auto;
}

.submenu {
	text-align: center;
	background-color: #9EFCDB;
	border-style: solid;
	border-width: thin;
	color: #A7FFA3;
	width: 130px;
	float: left;
	font-style: normal;
	height: 30px;
	margin-top: 8px;
}

a {
	text-decoration: none;
	color: #FF7600;
}

.insidesubmenu {
	font-size: 18px;
	margin-top: 6px;
	background-color:#3FC;
}
.insidesubmenu:hover{
	background-color:#F99;
	}
	

.submenu1 {
	text-align: center;
	background-color: #666;
	border-style: solid;
	border-width: thin;
	color:#FFF;
	width: 130px;
	float: left;
	font-style: normal oblique;
	height: 30px;
	margin-top: 8px;
}


.insidesubmenu1 {
	font-size: 18px;
	margin-top: 6px;
}
.bannerimg {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
.itemimg {
	width: 200px;
	height: 100px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}
.item {
	height: 120px;
	border: thin solid #F4FF89;
	margin-bottom: 5px;
}
.buynow {
	width: 90px;
	margin-top: 70px;
	margin-left: -150px;
	height: 25px;
}
.gamename {
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	width: 200px;
}
.gamedes {
	float: left;
	margin-top: 40px;
	margin-left: -185px;
	color: #C5C5C5;
	font-weight: lighter;
	font-size: 15px;
}
.footerimg {
	width: 250px;
	float: left;
	height: 100px;
	margin-top: 5px;
}
.infooter {
	float: right;
	margin-top: 30px;
}
.user {
	float: left;
	margin-left: 10px;	
}
.box {
	float: left;
	margin-left: 15px;
}
.box1 {
	float: left;
	margin-left: 21px;
}
.forget{
	float: left;
	margin-left: 55px;
	margin-top: 8px;
	}
.keepme{
	float: left;
	margin-top: 10px;
	margin-left: 50px;
	}
.submit{
	float: left;
	margin-left: 80px;
	margin-top: 10px;
	}
.gamename{
	float: left;
	margin-left: 40px;
	
	}
.gamename a{
	text-decoration:none;
	color:#FFF;
	}
.gamename a:hover{
	color: #639;
	}
.allgamename{
	margin-top: -30px;
	}





@media all and (max-width:1000px){
	
.mainframe {
	background-color: #000;
	width: 650px;
	height: auto;
	margin: auto;
	color: #FFF;
	font-family: antic;
	font-style: normal;
	font-weight: 400;
}

.logo {
	height: auto;
	width: 300px;
	margin: auto;
	float:left
}

.bannerimg {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 650px;
}

.menu {
	width: 650px;
	height: 80px;
	background-color: #9EFCDB;
	float: left;
	
}

.infooter {
	float: left;
	margin-top: 16px;
	width: 300px;
	margin-left: 60px;
}
}


 
@media all and (max-width: 600px){
.mainframe {
	background-color: #000;
	width: 350px;
	height: auto;
	margin: auto;
	color: #FFF;
	font-family: antic;
	font-style: normal;
	font-weight: 400;
}
.logo {
	height: auto;
	width: 250px;
	margin-left: 25px;
}
.bannerimg {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 350px;
}
.menu {
	width: 310px;
	height: 250px;
	background-color: #9EFCDB;
	margin-left: 20px;	
}
.submenu {
	text-align: center;
	border-style: solid;
	border-width: thin;
	color: #A7FFA3;
	width: 300px;
	float: left;
	font-style: normal;
	height: 20px;
	
}
.content {
	background-color: #999;
	width: 330px;
	height: auto;
	float: left;
	margin-top: 10px;
	border-radius: 10px;
}
.insidesubmenu {
	font-size: 18px;
	
}
.memberzone {
	background-color: ;
	width: 300px;
	border-radius: 10px;
	float: left;
	margin-left: 25px;
}
.product {
	background-color: ;
	height: 300px;
	width: 300px;
	float: left;
	margin-top: 10px;
	margin-left: 25px;
	border-radius: 10px;
}
.itemimg {
	width: 250px;
	height: 120px;
	margin-top: 10px;
	margin-left: 40px;
	float: left;
}
.item {
	height: 200px;
	border: thin solid #F4FF89;
	margin-bottom: 5px;
	float: left;
}
.buynow {
	width: 90px;
	margin-top: 150px;
	margin-left: -70px;
	height: 25px;
}
.gamename {
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	width: 200px;
}
.gamedes {
	float: left;
	margin-top: 40px;
	margin-left: -185px;
	color: #C5C5C5;
	font-weight: lighter;
	font-size: 15px;
}
.user {
	float: left;
	margin-left: 10px;	
}
.box {
	float: left;
	margin-left: 15px;
}
.box1 {
	float: left;
	margin-left: 21px;
}
.forget{
	float: left;
	margin-left: 55px;
	margin-top: 8px;
	}
.keepme{
	float: left;
	margin-top: 10px;
	margin-left: 50px;
	}
.submit{
	float: left;
	margin-left: 80px;
	margin-top: 10px;

}

.footerimg {
	width: 250px;
	float: left;
	height: 100px;
	margin-top: 5px;
	margin-left: 25px;
}

.infooter {
	float: left;
	margin-top: 16px;
	width: 300px;
	margin-left: 60px;
	clear: left;
	margin-left : 45px;
}
}
