@charset "utf-8";
/* CSS Document */

.body {
	background-color: #070E35;
	color: #FFFFFF;
}
.mainheader {
	width: 300px;
}
.subbody {
	margin-left: auto;
	margin-right: auto;
	width: 320px;
}
.maincontent {
	width: 300px;
}
.righttopcontent {
	width: 300px;
}
.rightdowncontent {
	width: 300px;
}
