@charset "utf-8";
/* CSS Document */
@media all and (max-width: 800px){
.mainframe {
	background-color: #000;
	width: 350px;
	height: auto;
	margin: auto;
	color: #FFF;
	font-family: antic;
	font-style: normal;
	font-weight: 400;
}
.logo {
	height: auto;
	width: 350px;
	margin: auto;
}
.menu {
	width: 350px;
}
.content {
	background-color: #999;
	width: 350px;
	height:auto;
}
.product {
	background-color: #39F;
	height:300px;
	width:350px;
}
.memberzone {
	background-color: #CF9;
	width: 350px;
	height: 200px;
	border-radius: 10px;
}
.footer {
	background-color: #F9C;
	width:350px;
	height:100px;
}
.menuu {
	height: 60px;
	width: 150px;
}
.submenu {
	text-align: center;
	border-radius: 5px;
	background-color: #D3E3FF;
	height: 25px;
	border: thin solid #FFD4D6;
	color: #A7FFA3;
	margin-bottom: 1px;
}

}
