@charset "utf-8";
/* CSS Document */

.mainframe {
	background-color: #000;
	width: 1000px;
	height: auto;
	margin: auto;
	color: #FFF;
	font-family: antic;
	font-style: normal;
	font-weight: 400;
}
.logo {
	height: auto;
	width: 350px;
	margin: auto;
	float:left
}
.menu {
	width: 1000px;
	height:;
	background-color: #9EFCDB;
	float: left;
	height: 35px;
}
.content {
	background-color: #999;
	width: 650px;
	height: auto;
	float: left;
	margin-top: 10px;
	padding-left : 10px;
	padding-right:10px;
}
.product {
	background-color: #39F;
	height: 300px;
	width: 300px;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	border-radius: 10px;
}
.memberzone {
	background-color: #9AD067;
	width: 300px;
	border-radius: 10px;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
.footer {
	background-color: #F9C;
	width:350px;
	height:100px;
	float:left;
}

.submenu {
	text-align: center;
	background-color: #9EFCDB;
	border-style: solid;
	border-width: thin;
	color: #A7FFA3;
	margin-bottom: 1px;
	width: 120px;
	float: left;
	font-style: normal;
	height: 30px;
}

a {
	text-decoration: none;
	color: #FF7600;
}

.insidesubmenu {
	font-size: 18px;
	margin-top: 6px;
}
.bannerimg {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}







 
@media all and (max-width: 800px){
.mainframe {
	background-color: #000;
	width: 350px;
	height: auto;
	margin: auto;
	color: #FFF;
	font-family: antic;
	font-style: normal;
	font-weight: 400;
}
.logo {
	height: auto;
	width: 350px;
	margin: auto;
}
.menu {
	width: 350px;
}
.content {
	background-color: #999;
	width: 350px;
	height:auto;
}
.product {
	background-color: #39F;
	height:300px;
	width:350px;
}
.memberzone {
	background-color: #CF9;
	width: 350px;
	height: 200px;
	border-radius: 10px;
}
.footer {
	background-color: #F9C;
	width:350px;
	height:100px;
}
.menuu {
	height: 60px;
	width: 150px;
}
.submenu {
	text-align: center;
	border-radius: 5px;
	background-color: #D3E3FF;
	height: 25px;
	border: thin solid #FFD4D6;
	color: #A7FFA3;
	margin-bottom: 1px;
}

}

